<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ context.getDoctitle() }}</title>
  </head>
  <body>
    <h1>{{ context.getDoctitle() }}</h1>
    {{ context.getContent() }}
  </body>
</html>
